USE [master]
GO
/****** Object:  Database [QuizinAja]    Script Date: 23/09/2026 09:36:16 ******/
CREATE DATABASE [QuizinAja]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizinAja', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuizinAja.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuizinAja_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuizinAja_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizinAja].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizinAja]
GO
/****** Object:  Table [dbo].[Participant]    Script Date: 23/09/2026 09:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participant](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuizID] [int] NOT NULL,
	[ParticipantNickname] [varchar](200) NOT NULL,
	[ParticipationDate] [datetime] NOT NULL,
	[TimeTaken] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticipantAnswer]    Script Date: 23/09/2026 09:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipantAnswer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParticipantID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[Answer] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 23/09/2026 09:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuizID] [int] NOT NULL,
	[Question] [text] NOT NULL,
	[OptionA] [varchar](200) NOT NULL,
	[OptionB] [varchar](200) NOT NULL,
	[OptionC] [varchar](200) NOT NULL,
	[OptionD] [varchar](200) NOT NULL,
	[CorrectAnswer] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 23/09/2026 09:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[Code] [varchar](200) NOT NULL,
	[Description] [text] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 23/09/2026 09:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](200) NOT NULL,
	[FullName] [varchar](200) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Password] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Participant] ON 

INSERT [dbo].[Participant] ([ID], [QuizID], [ParticipantNickname], [ParticipationDate], [TimeTaken]) VALUES (1, 1, N'Andi123', CAST(N'2026-07-28T08:11:12.317' AS DateTime), 124)
INSERT [dbo].[Participant] ([ID], [QuizID], [ParticipantNickname], [ParticipationDate], [TimeTaken]) VALUES (2, 1, N'Budi321', CAST(N'2026-07-28T08:11:12.320' AS DateTime), 55)
INSERT [dbo].[Participant] ([ID], [QuizID], [ParticipantNickname], [ParticipationDate], [TimeTaken]) VALUES (3, 1, N'Cathy456', CAST(N'2026-07-28T08:11:12.327' AS DateTime), 90)
SET IDENTITY_INSERT [dbo].[Participant] OFF
GO
SET IDENTITY_INSERT [dbo].[ParticipantAnswer] ON 

INSERT [dbo].[ParticipantAnswer] ([ID], [ParticipantID], [QuestionID], [Answer]) VALUES (1, 1, 1, N'Thomas Jefferson')
INSERT [dbo].[ParticipantAnswer] ([ID], [ParticipantID], [QuestionID], [Answer]) VALUES (2, 1, 2, N'Mayflower')
INSERT [dbo].[ParticipantAnswer] ([ID], [ParticipantID], [QuestionID], [Answer]) VALUES (3, 1, 3, N'1914')
GO
SET IDENTITY_INSERT [dbo].[ParticipantAnswer] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([ID], [QuizID], [Question], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectAnswer]) VALUES (1, 1, N'Who wrote the Declaration of Independence for the United States?', N'Thomas Jefferson', N'George Washington', N'John Adams', N'Benjamin Franklin', N'Thomas Jefferson')
INSERT [dbo].[Question] ([ID], [QuizID], [Question], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectAnswer]) VALUES (2, 1, N'What was the name of the ship that carried the Pilgrims to America in 1620?', N'Mayflower', N'Santa Maria', N'Endeavour', N'Nina', N'Mayflower')
INSERT [dbo].[Question] ([ID], [QuizID], [Question], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectAnswer]) VALUES (3, 1, N'In which year did World War I begin?', N'1914', N'1939', N'1945', N'1917', N'1914')
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Quiz] ON 

INSERT [dbo].[Quiz] ([ID], [UserID], [Name], [Code], [Description], [CreatedAt]) VALUES (1, 1, N'History Quiz', N'HIST101', N'Test your knowledge of historical events and figures.', CAST(N'2026-07-28T08:11:12.273' AS DateTime))
INSERT [dbo].[Quiz] ([ID], [UserID], [Name], [Code], [Description], [CreatedAt]) VALUES (2, 2, N'Science Quiz', N'SCI202', N'Explore the wonders of the natural world with this science quiz.', CAST(N'2026-07-28T08:11:12.273' AS DateTime))
INSERT [dbo].[Quiz] ([ID], [UserID], [Name], [Code], [Description], [CreatedAt]) VALUES (3, 3, N'Math Challenge', N'MATH123', N'A math quiz that will put your problem-solving skills to the test.', CAST(N'2026-07-28T08:11:12.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[Quiz] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Username], [FullName], [DateOfBirth], [Password]) VALUES (1, N'mahdi', N'Mahdi Jokar', CAST(N'2003-12-18' AS Date), N'1234')
INSERT [dbo].[User] ([ID], [Username], [FullName], [DateOfBirth], [Password]) VALUES (2, N'johndoe', N'John Doe', CAST(N'1990-05-15' AS Date), N'secret123')
INSERT [dbo].[User] ([ID], [Username], [FullName], [DateOfBirth], [Password]) VALUES (3, N'sarahsmith', N'Sarah Smith', CAST(N'1985-12-10' AS Date), N'pass1234')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Participant]  WITH CHECK ADD  CONSTRAINT [FK_QuizParticipant_Quiz_QuizID] FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quiz] ([ID])
GO
ALTER TABLE [dbo].[Participant] CHECK CONSTRAINT [FK_QuizParticipant_Quiz_QuizID]
GO
ALTER TABLE [dbo].[ParticipantAnswer]  WITH CHECK ADD  CONSTRAINT [FK_QuizParticipantAnswer_Participant_ParticipantID] FOREIGN KEY([ParticipantID])
REFERENCES [dbo].[Participant] ([ID])
GO
ALTER TABLE [dbo].[ParticipantAnswer] CHECK CONSTRAINT [FK_QuizParticipantAnswer_Participant_ParticipantID]
GO
ALTER TABLE [dbo].[ParticipantAnswer]  WITH CHECK ADD  CONSTRAINT [FK_QuizParticipantAnswer_Question_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([ID])
GO
ALTER TABLE [dbo].[ParticipantAnswer] CHECK CONSTRAINT [FK_QuizParticipantAnswer_Question_QuestionID]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Quiz_QuizID] FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quiz] ([ID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Quiz_QuizID]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK_Quiz_User_UserID]
GO
USE [master]
GO
